 <div class="messages_main1">
  <div class="messages_main2"> 
   <div class="messages_name">
   <%= message.user.name %>
   </div>
   <div class="messages_log">
    <%= l message.created_at %>
   </div>
  </div>
  <div class="lower_messages">
   <div class="messages_text">
   <%= message.content %>
   </div>
   <%= image_tag message.image, variant(resize: '500x500'), class: 'message-image' if message.image.attached? %>
  </div>
 </div>