<div class="left_header">
  <div class="account_name">
  <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="c_name">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="left_bar">
 <div class="room">
  <div class="room_name">
   <a href="#">techroom1</a>
  </div>
 </div>
 <div class="room">
  <div class="room_name">
   <a href="#">techroom2</a>
  </div>
 </div>
</div>