.wrapper{
  display:flex
}
.right{
  width: calc(100vw-300px);
  background-color: #ffffff;
}
.left{
  height: 100vh;
  width:300px;
  background-color: #253141;
}
.left_header{
  height: 100px;
  padding: 0 20px;
}
.left_bar{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}
.right_header{
  height: 100px;
  padding: 0 40px;
}
.messages{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.send{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}